* {
  text-align: center;
  background-color: #fcfcb0;
  font-family: cursive;
  font-size: 26px;
}
h1 {
  text-align: center;
  font-size: 36px;
}
section {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;

  padding: 10px;
  margin: 10px;
  min-height: 1000px;
  justify-content: center;
  align-items: center;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

#chooseCountry {
  margin: 10px;
  width: 100%;
}

form input {
  border-radius: 20px;
}

/* BUCKET LIST */

ul {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  border-bottom: 2px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px dotted grey;
  margin : 10px;
}

.country{
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 0.75fr;
  justify-content: center;
  align-items: center;

}

.country img {
  width: 50px;
}

.country button {
  width: fit-content;
  border-radius: 20px;
  margin: 5px;

}
li {
  list-style-type: none;
}
