* {
  text-align: center;
  background-color: #fcfcb0;
  font-family: cursive;
  font-size: 26px;
}
h1 {
  text-align: center;
  font-size: 36px;
}
section {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;

  padding: 10px;
  margin: 10px;
  min-height: 1000px;
  justify-content: center;
  align-items: center;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

form select {
  margin: 10px;
}

form input {
  border-radius: 20px;
}

/* BUCKET LIST */

ul {
  display: flex;
  flex-direction: column-reverse;
}

.country{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;

}

.country img {
  width: 50px;
}

.country button {
  width: fit-content;
  border-radius: 20px;
  margin: 10px;

}
li {
  list-style-type: none;
}
